:root {
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);
  --color-secondary-light: hsl(45deg, 100%, 50%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-grey-very-dark: hsl(0deg, 0%, 10%);
  --color-grey-dark: hsl(0deg, 0%, 30%);
  --color-grey-medium: hsl(0deg, 0%, 40%);
  --color-grey-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  color: var(--color-primary);
}

h2 {
  background-color: var(--color-secondary-light);
  border-bottom: 8px solid var(--color-secondary-dark);
  width: fit-content;
}

header {
  padding: 48px 0;
}

main {
  background-color: var(--color-grey-light);
  border-top: 8px solid var(--color-grey-dark);
  padding: 48px 0;
}

.intro-chunk, .card {
  max-width: 630px;
  margin: 0 auto;
}

.card {
  background-color: var(--color-white);
  border-bottom: 8px solid var(--color-grey-dark);
}

.intro-chunk > *, .card > * {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.intro-chunk > * {
  max-width: 360px;
}
